header {
	width: 100%;
	background-color: beige;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;

}

#logo,
.logo {
	width: 100px;
	height: auto;
	grid-column: 2;
	justify-self: center;
}

/********************NAV**************/

.burgermenu {

	margin-top: 10px;

	grid-column: 1;
	grid-row: 2;

}

.burger {
	cursor: pointer;
	background: #fff;
	border: none;
	justify-self: end;
	margin: 20px 0;
}

.bar1,
.bar2,
.bar3 {
	width: 35px;
	height: 5px;
	background-color: #333;
	margin: 6px 0;
	transition: 0.4s;
}

#navbar {
	overflow: hidden;
}

.content {
	padding: 16px;
}

/* The sticky class is added to the navbar with JS when it reaches its scroll position */

.sticky {
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 100;
}

nav {
	max-height: 0px;
	/*	overflow: hidden;*/
	transition: 0.6s;
}

.show {
	max-height: 1000px;
}

#navigation {
	cursor: pointer;
	font-family: avenir;
	font-size: 100%;
	text-transform: uppercase;

}

.nav_btn:hover {
	background-color: #09B0A0;
	transition: 1s;
}

.change .bar1 {
	transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {
	opacity: 0;
}

.change .bar3 {
	transform: rotate(45deg) translate(-8px, -8px);
}

/**********************NAV sLUT*******************/

#book_bord,
#nyhedsbrev {
	width: auto;
	height: 40px;
	border-style: none;
	margin: 20px 0;
}

#book_bord {
	grid-column: 3;
	grid-row: 2;
	justify-self: end;

	background-color: black;
	color: white;
}

#nyhedsbrev {
	grid-column: 3;
	justify-self: end;

	background-color: transparent;
}

button,
a {
	cursor: pointer;
}

/*************BODY FORSIDE***********************/

#forsideModtager {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr;
}

#forsideTop,
#forsideNed,
#forsideInspiration {
	width: 220px;
	/*	height: 200px;*/
}

#forsideInspiration {
	grid-column: 2;
	grid-row: 1/span 2;


	align-self: stretch;
	width: 500px;
}

#forsideTop {
	grid-column: 1;
	grid-row: 1;


	justify-self: end;
	height: 375px;
	width: 300px;
}

#forsideNed {
	grid-column: 1;
	grid-row: 2;

	justify-self: end;
	height: 375px;
	width: 300px;
}

#map {
	height: 400px;
	width: 50%;
}


#filtrering {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: auto;
}

.filtrer {
	grid-column: 1/span 2;
	justify-self: center;
}
