/**** Restaurants *****/


.filters{
margin: 10vw 10vw 15vw 10vw;

}

.modtager{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 20px;
    max-width: 1024px;
    margin: 6vw;
}


@media screen and (min-width: 1025px){
.modtager{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    margin: 0 auto;
}
    .modtager h2{
        font-size: 1.3em;
    }
}

.modtager_single{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 20px;
    max-width: 1024px;
    margin: 6vw;
}

@media screen and (min-width: 1025px){
.modtager_single{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 20px;
    margin: 0 auto;
}
    .modtager h2{
    font-size: 1.3em;
    }
}
/*

.restaurants_splash {
    max-width: 80vw;
}
*/


img{
width: 100%;

}
/****** filter i toppen Nörrebro osv. ******/

.filters{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1em;
    text-align: center;
}

.filters >a{
    padding: 6px;
    border: rgba(155, 155, 155, 0.61) solid 1px;
    color: black;
    font-size: 1.5em;
    color: black;

}

.filters >a:hover{
     background-color: lightgrey;
    color: white;
}


/************** restaurant single *********/


.restaurants-splash{
    padding-top: 5vw;
}


/****** knappar i toppen av restaurantssidan ****/

.restaurants-btns{
    padding: 2em 4em;

}

.restaurants-btns >a{
    padding: 6px;
    border: rgba(155, 155, 155, 0.61) solid 1px;
    color: grey;
    padding: 1vw;
    font-size: 1.5em;

}

/*
.restaurants-btns >a:hover{
     background-color: lightgrey;
    color: white;
}
*/

.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
}

.restaurants-btns{
    position: relative;
    display: inline-block;
}

.dropdown_content{
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown_content a{
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown_content a:hover {background-color: #ddd}

.show {
    display:block;
}


/******* text ******/

h1{
    text-align: center;
    font-family: 'Raleway', sans-serif;
}

h2{
    grid-row: 2;
    font-family: 'Raleway', sans-serif;
    font-size: 2.3em;
    text-align: center;
}

h3{
    font-family: 'Raleway', sans-serif;
    font-size: 1em;
    color: #3A4756;
}

a{
    text-decoration: none;
    color: #9b9b9b;
    font-family: "Handlee", sans-serif;
    font-size: 1.2em;

}

p{
       font-family: 'Raleway', sans-serif;
}


/****** beskrivning av restaurant/forhandler *****/

.restaurant_description{
    margin: 2em;
    max-width: 80vw;

}

/***praktiskt information *****/


.practical_info{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
/*    grid-template-rows: repeat(2, 1fr);*/
    border-top: solid 1px black;
    grid-gap: 0.7em;
    margin: 3em;


}


@media screen and (min-width: 1025px){
    .practical_info{
        border-bottom: solid 1px black;
        border-top: none;
    }


}


.practical_info >div{
/*    border: solid black 1px;*/
        max-width: 100%;
}


.info{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 1em;
    background: ghostwhite;
    border-right: #eee solid 1px;
    border-bottom: #eee solid 1px;

}

@media screen and (min-width: 1025px){
.info{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1em;
    background: ghostwhite;
            border-right: #eee solid 1px;
    border-bottom: #eee solid 1px;
}


.info >article:nth-child(odd){
    background: ghostwhite;
}



/******* Restaurant meny *******/


@media screen and (min-width: 1025px){
.menu_display{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 10px;
    margin: 0 auto;
}
    }

}

.menu_display{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    max-width: 1024px;
    grid-gap: 20px;
    border: #eee solid 1px;
/*    justify-items: center;*/
    margin: 10vw;
    padding: 2em;
}

@media screen and (min-width: 1025px){
.menu_display{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    margin: 0 auto;
    padding: 2em;
}
        .modtager h2{
        font-size: 1.3em;
    }
    }
.morgen_modtager, .brunch_modtager, .frokost_modtager, .aften_modtager, .drikkevarer_modtager, .selskabsmenu_modtager {
border-bottom: solid #eee 1px;
}



/*
.menu_display >div{
    border-bottom: rgba(155, 155, 155, 0.61) solid 1px;
    padding: 2em;
    margin: 0 4em;
}
*/


@media screen and (min-width: 1025px){
.price_menu{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
    }

.price_menu{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }



/****** Galleri *******/

.gallery-modtager{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 20px;
    max-width: 1024px;
    margin: 6vw;

}
.gallery-modtager img{
    max-width: 80vw;
    padding: 1vw;
}




/*********** Forhandler *********/


/*
		#emner>a {
			padding: 6px;
			border: rgba(155, 155, 155, 0.61) solid 1px;
			color: black;
			font-size: 1.5em;
			color: black;
		}

		#emner>a:hover {
			background-color: lightgrey;
			color: white;
		}

		a {
			text-decoration: none;
			color: #9b9b9b;
			font-family: "Handlee", sans-serif;
			font-size: 1.2em;
		}

		#modtager {
			display: grid;
			grid-template-columns: repeat(2, 1fr);
			grid-gap: 1em;
			margin: 10vw 10vw 15vw 10vw;
		}
*/





/****** Hidden class ****/

.hidden{
    display: none !important;
}
