body{
    margin: 0;
}

header {
	width: 100%;
	background-color: white;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;

}

}

#logo,
.logo {
	width: 100px;
	height: auto;
	grid-column: 2;
	justify-self: center;
}

/*alt dette skal blive for sticky nav START*/

/* The sticky class is added to the navbar with JS when it reaches its scroll position */

.sticky {
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 10;

}

/* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */

.sticky + .content {
	padding-top: 60px;
}

#usynlig_btn {
	border-style: none;
	width: 76px;
	height: 40px;
	background-color: transparent;
	position: fixed;
	top: 11px;
	right: 10px;
	z-index: 15;
}

#usynlig2_btn {
	border-style: none;
	width: 76px;
	height: 40px;
	background-color: transparent;
	position: fixed;
	top: 114px;
	right: 9px;
	z-index: 15;
}

select {
	border: 0 none;
	color: #FFFFFF;
	background: transparent;
	font-size: 20px;
	font-weight: bold;
	padding: 2px 10px;
	width: 378px;
	*width: 350px;
	*background: #58B14C;
}

#select_btn {
	overflow: hidden;
	margin: 35px 0;
	width: 288px;
	-moz-border-radius: 0 0 0 0;
	-webkit-border-radius: 0 0 0 0;
	border-radius: 0 0 0 0;
	box-shadow: 1px 1px 11px #330033;
	background: url("img/play-button.svg") 242px 6px/45px;
	/*			background-size: ;*/
	background-color: cadetblue;
	background-repeat: no-repeat;

}

/*alt dette skal blive for sticky nav SLUT*/

/*Dette er til citat START*/

.quote {
	margin: 5vw;
}

q {
	display: block;
	background: #fff;
	padding: 15px 20px 15px 45px;
	margin: 0 0 20px;
	position: relative;

	line-height: 1.2;
	color: #666;

	/*Box Shadow - (Optional)*/
	-moz-box-shadow: 2px 2px 15px #ccc;
	-webkit-box-shadow: 2px 2px 15px #ccc;
	box-shadow: 2px 2px 15px #ccc;

	/*Borders - (Optional)*/
	border-left-style: solid;
	border-left-width: 15px;
	border-right-style: solid;
	border-right-width: 2px;
}

q::before {
	content: "\201C";
	/*Unicode for Left Double Quote*/
	/*Font*/
	font-family: Georgia, serif;
	font-size: 60px;
	font-weight: bold;
	color: #999;

	/*Positioning*/
	position: absolute;
	left: 10px;
	top: 5px;

}

q::after {
	/*Reset to make sure*/
	content: "";
}

/*Dette er til citat SLUT*/

/***********************NYHEDSBREV***************************/

/* Customize the label (the container) */

.grid_nyhed {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr 1fr;
}

#fornavn,
#email {
	grid-column: 1;
	grid-row: 1;
	align-self: end;
}

.fornavn,
.email {
	border-style: none none solid none;
	border-color: grey;

	height: 40px;
}

.popup {
	width: 100vw;
	height: 100vh;
	position: fixed;
	background: rgba(0, 0, 0, 0.8);

	opacity: 0;
	z-index: 10;
}

.popup_content {
	height: 93vh;
	width: 88vw;
	background: #fff;
	top: 3vh;
	left: 5vw;
	position: absolute;
	overflow: scroll;
	/*	background-color: #e5e5e5;*/
}

.single_btn {
	border-style: none;
	width: 40px;
	height: 40px;
	position: relative;
}

.single_btn:before {
	content: '';
	height: 25px;
	border-left: 4px solid #000;
	border-radius: 2px;
	position: absolute;
	transform: rotate(-45deg);
	left: 17px;
	top: 7px;
}

.single_btn:after {
	content: '';
	height: 25px;
	border-left: 4px solid #000;
	border-radius: 2px;
	position: absolute;
	transform: rotate(45deg);
	left: 17px;
	top: 7px;
}

.single_info {
	padding: 0 20px;
}

.single_titel {
	padding-left: 20px;
}

.container {
	display: block;
	position: relative;
	padding-left: 35px;
	margin-bottom: 12px;
	margin-top: 24px;
	cursor: pointer;
	font-size: 18px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

/* Hide the browser's default checkbox */

.container input {
	position: absolute;
	opacity: 0;
	cursor: pointer;
}

/* Create a custom checkbox */

.checkmark {
	position: absolute;
	top: 0;
	left: 0;
	height: 25px;
	width: 25px;
	background-color: #5c5a5a;
}

/* On mouse-over, add a grey background color */

.container:hover input ~ .checkmark {
	background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */

.container input:checked ~ .checkmark {
	background-color: #09c109;
}

/* Create the checkmark/indicator (hidden when not checked) */

.checkmark:after {
	content: "";
	position: absolute;
	display: none;
}

/* Show the checkmark when checked */

.container input:checked ~ .checkmark:after {
	display: block;
}

/* Style the checkmark/indicator */

.container .checkmark:after {
	left: 9px;
	top: 5px;
	width: 5px;
	height: 10px;
	border: solid white;
	border-width: 0 3px 3px 0;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}

input[type=submit] {
	padding: 15px 30px;
	background-color: dodgerblue;
	/*position: absolute;*/
	bottom: 25vh;
}

/********************NAV**************/

.bar1,
.bar2,
.bar3 {
	width: 39px;
	height: 3px;
	background-color: #333;
	margin: 3px 0;
	transition: 0.4s;
}

header > span {
	grid-row: 1 / 2;
	display: flex;
	justify-content: center;
	margin-left: 20px;
	flex-direction: column;
}

header img {
	width: 50%;
}

header a {
	text-align: center;
}

.sidenav {
	height: 100%;
	/* 100% Full-height */
	width: 0;
	/* 0 width - change this with JavaScript */
	position: fixed;
	/* Stay in place */
	z-index: 1;
	/* Stay on top */
	top: 0;
	/* Stay at the top */
	left: 0;
	background-color: white;
	border: solid 1px #eee;
	/* Black*/
	overflow-x: hidden;
	/* Disable horizontal scroll */
	padding-top: 15px;
	/* Place content 60px from the top */
	transition: 0.5s;
	/* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */

.sidenav a {
	padding: 30px 8px 8px 32px;
	text-decoration: none;
	font-size: 1.2em;
	color: #413936;
	display: block;
	transition: 0.3s;
    font-family: 'Muli', sans-serif;
}

/* When you mouse over the navigation links, change their color */

.sidenav a:hover {
	color: #f1f1f1;
}

/* Position and style the close button (top right corner) */

.sidenav .closebtn {
	position: absolute;
	top: 0;
	right: 25px;
	font-size: 36px;
	margin-left: 50px;
}

.closebtn {
	color: #818181;
	background-color: transparent;
	border-style: none;
}


/**********************NAV sLUT*******************/

#book_bord,
#nyhedsbrev {
	width: auto;
	height: 40px;
	border-style: none;
	/*	margin: 20px 0;*/
}

#book_bord {
	grid-column: 3;
	grid-row: 2;
	justify-self: end;

	background-color: black;
	color: white;
}

#nyhedsbrev {
	grid-column: 3;
	justify-self: end;

	background-color: transparent;
}

button,
a {
	cursor: pointer;
	text-decoration: none;
	color: black;
	/*dette skal ikke slettes*/
}

#filtrering {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-template-rows: auto;
	grid-gap: 5px;
}

.filtrer {
	text-align: center;
}

.filter_btn {
	border: none;
	color: white;
	height: 8vh;
	width: 20vw;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	background-color: #555555;

	justify-self: center;
}

/*************BODY FORSIDE***********************/

.forsideBox {
	display: grid;
	grid-template-columns: 1fr 1fr;
	max-width: 800px;
	align-content: center;
	margin: 0 auto;
	padding: 1em;
	grid-gap: 10px;

}

#forsideForhandler {
	background-color: rgba(253, 252, 249, 0.49);
	border: solid 1px #eee;
}

#forsideRestaurant {
	background-color: rgba(255, 240, 244, 0.61);
	border: solid 1px #eee;
}

.restaurants-container {
	margin: 5vw;
}

#forsideInspiration {
	background-color: rgba(241, 244, 233, 0.69);
	border: solid 1px #eee;
	grid-column: 2;
	grid-row: 1 / 3;
	display: flex;
	justify-content: center;
	align-items: center;
}

/*******map******/

#map {
	height: 500px;
	width: 100%;
	margin: 5vh 0 5vh 0;
}

/**************** Inspiration guide og nyheder ************/

#inspirationBox {
	display: grid;
	grid-template-columns: 1fr 1fr;
	max-width: 800px;
	align-content: center;
	margin: 0 auto;
	padding: 1em;


}

#inspirationTop background-color: #9E6A6B;
}

#inspirationNed {
	background-color: #D7DFC7;
}

#inspirationRight {
	background-color: #93B0B8;
	grid-column-start: 2;
	grid-column-end: five;
	grid-row-start: 1;
	grid-row-end: 3;


}

/*
.alleOpslagImg {
	max-width: 95%;
}
*/

/************ Inspiration single ***************/

#modtager_single img {
	max-width: 100%;
}

.tekst_indhold {
	padding-right: 10px;
}

/************************Om Food8*********************/

.om-page > h1 {
	text-align: center;
	font-family: 'Raleway', sans-serif;
	font-size: 2.3em;
}

.om-page > h2 {
	font-size: 1.3em;
	text-align: center;
}

.om-page > p {
	font-family: 'Raleway', sans-serif;
	background: ghostwhite;
	padding: 5px;
}

.om-page > img {
	width: 100%;
}

.om-page > #omFood8 {
	display: grid;
	grid-template-columns: repeat(1, 1fr);
	grid-gap: 1em;
	border-right: #eee solid 1px;
	border-bottom: #eee solid 1px;
	max-width: 1024px;
	margin: 6vw;
}

.om-page > .send_Mail {
	font-family: 'Raleway', sans-serif;
}

.om-page > input,
.om-page > textarea,
.om-page > input[type=submit] {
	border-radius: 3px;
	border-style: solid;
	border-width: 1px;
	border-color: cadetblue;
	background-color: ghostwhite;
	margin: 2px;
	padding: 0px;
}

/************************FOOTER*********************/

.footer_grid {
	display: grid;
	grid-column-gap: 5px;
	width: 100%;
	height: 120px;
	grid-template-columns: 1fr 1fr;
}

#footer_links,
#kontakt_food8 {
	padding: 30px;
}

#kontakt_food8 {
	grid-column: 1;
}

#footer_links {
	grid-column: 2;
	justify-self: end;
	text-align: right;
}

.facebook,
.insta {
	width: 30px;
	height: auto;
}

/*********************************Dette rykkes senere**********************/

#cookieText {
	padding: 30px;
}

/**EVENTS*/

#a_grid {
	display: grid;
	grid-template-columns: 1fr 2fr;
	grid-template-rows: 1fr 2fr;
	width: 100vw;
	margin: 0px;
	margin-top: 5vh;
}

#eventImage {
	grid-column: 2;
	width: 96%;
}

#eventsArrangør {
	margin: 0;
	font-size: 3.5rem;
	color: rgb(31, 150, 113);
}

#overskriftEvent {
	grid-column: 1/span 2;
	grid-row: 1/span 1;
	margin-left: 5px;
}

#eventText {
	grid-column: 1;
	grid-row: 2;
	z-index: 0;
	height: 43vw;
	padding-right: 5px;
	color: ghostwhite;
	background: rgb(29, 123, 94);
	/* Fall-back for browsers that don't
                                    support rgba */
	background: rgba(29, 123, 94, 0.7);
}

#eventText p {
	margin: 7px;
}

#overskriftEvent h3::first-letter {
	text-transform: uppercase;
}

/**EVENT SINGLEVIEW***/

#a_grid_single {
	display: grid;
	grid-template-columns: 1fr 2fr;
	grid-template-rows: 1fr auto auto;
	width: 100vw;
}

#event_single {
	grid-column: 1/span 2;
	grid-row: 1;

	text-align: center;
	align-self: end;
}

#event_img_single {
	grid-column: 2;
	grid-row: 2;
}

#eventImageSingle {
	width: 100%;
	height: 100%;
}

#event_text_single {
	grid-column: 1/span 2;
	grid-row: 3;
}

#single_info {
	grid-column: 2;
}


/**** Restaurants *****/

/*
.filters {
	margin: 10vw 10vw 15vw 10vw;

}
*/

.modtager {
	display: grid;
	grid-template-columns: repeat(1, 1fr);
	grid-gap: 20px;
	max-width: 1024px;
	margin: 6vw;
}


@media screen and (min-width: 1025px) {
	.modtager {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-gap: 20px;
		margin: 0 auto;

	}
	.modtager h2 {
		font-size: 1.3em;
	}
}

.modtager_single {
	display: grid;
	grid-template-columns: repeat(1, 1fr);
	grid-gap: 20px;
	max-width: 1024px;
/*	margin: 6vw;*/
}

@media screen and (min-width: 1025px) {
	.modtager_single {
		display: grid;
		grid-template-columns: repeat(1, 1fr);
		grid-gap: 20px;
		margin: 0 auto;
	}
	.modtager h2 {
		font-size: 1.3em;
	}
}

img {
	width: 100%;


}

/****** filter i toppen Nörrebro osv. ******/

.filters {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-gap: 1em;
	text-align: center;
    margin: 0 auto;
}

.filters > a {
	padding: 6px;
	border: rgba(155, 155, 155, 0.61) solid 1px;
	color: black;
/*	font-size: 1.5em;*/
	color: black;

}




/************** restaurant single *********/

.restaurants-splash {
	padding-top: 5vw;
}

.data-price {
	justify-self: end;
}

/****** knappar i toppen av restaurantssidan ****/

.restaurants-btns > a {
	padding: 6px;
	color: grey;
	padding: 1vw;
	font-size: 1.5em;

}

}

/****** filter i toppen Nörrebro osv. ******/

.filters {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-gap: 1em;
	text-align: center;
	margin: 5px;

}

.filters > a {
	padding: 1rem;
	background-color: #fff;
	box-shadow: 0 0.125rem 0.5rem 0 rgba(0, 0, 0, 0.14);
	text-transform: uppercase;

}

.filters > a:hover {
	background-color: #93B0B8;
	color: white;
}


/****** knappar i toppen av restaurantssidan ****/

.restaurants-btns {
	padding: 1rem;
	background-color: #fff;
	box-shadow: 0 0.125rem 0.5rem 0 rgba(0, 0, 0, 0.14);
	text-transform: uppercase;

}

.restaurants-btns > a {
	padding: 6px;
	color: grey;
	padding: 3vw;
	font-size: 1em;

}


.dropbtn {
	background-color: #4CAF50;
	color: white;
	padding: 16px;
	font-size: 16px;
	border: none;
}

.restaurants-btns {
	position: relative;
	display: inline-block;
}

.dropdown_content {
	display: none;
	position: absolute;
	background-color: white;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	z-index: 1;
}

.dropdown_content a {
	color: grey;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
}

.dropdown_content a:hover {
	background-color: #ddd
}

.show {
	display: block;
}


/******* text ******/
a{
    font-family: 'Muli', sans-serif;
    color: #413936;
}

h1 {
	text-align: center;
	font-family: 'Muli', sans-serif;
    color: #413936;
}

h2 {
	grid-row: 2;
	font-family: 'Muli', sans-serif;
/*	font-size: 2.3em;*/
	text-align: center;
    color: #413936;
}

h3 {
	font-family: 'Muli', sans-serif;
	font-size: 0.9em;
    color: #413936;
}

h4 {
	font-family: 'Muli', sans-serif;
	font-size: 1em;
    color: #413936;
}

.practical_info a {
	text-decoration: underline;
    color: #413936;
	font-family: "Muli", sans-serif;
	font-size: 1.2em;

}

p {
	font-family: 'Raleway', sans-serif;
}


/****** beskrivning av restaurant/forhandler *****/

.restaurant_description {
	margin: 2em;
	max-width: 80vw;

}

/***praktiskt information *****/

.practical_info {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	border-top: solid 1px black;
	grid-gap: 0.7em;
	margin: 3em;


}


@media screen and (min-width: 1025px) {
	.practical_info {
		border-bottom: solid 1px black;
		border-top: none;
	}


}


.practical_info > div {
	/*    border: solid black 1px;*/
	max-width: 100%;
}


.info {
	display: grid;
	grid-template-columns: repeat(1, 1fr);
	grid-gap: 1em;
	background: ghostwhite;
	border-right: #eee solid 1px;
	border-bottom: #eee solid 1px;

}

@media screen and (min-width: 1025px) {
	.info {
		display: grid;

		grid-template-columns: repeat(2, 1fr);
		background: white;
		grid-gap: 1em;
		background: ghostwhite;
		border-right: #eee solid 1px;
		border-bottom: #eee solid 1px;
	}


	.info > article:nth-child(odd) {
		background: ghostwhite;
	}



	/******* Restaurant meny *******/
	@media screen and (min-width: 1025px) {
		.menu_display {
			display: grid;
			grid-template-columns: repeat(1, 1fr);
			grid-gap: 10px;
			margin: 0 auto;
		}
	}

}

.menu_display {
	display: grid;
	grid-template-columns: repeat(1, 1fr);
	max-width: 1024px;
	grid-gap: 20px;
	border: #eee solid 1px;
	/*    justify-items: center;*/
	margin: 10vw;
	padding: 2em;
}

@media screen and (min-width: 1025px) {
	.menu_display {
		display: grid;

		grid-template-columns: repeat(2, 1fr);
		grid-gap: 10px;
		margin: 0 auto;
		padding: 2em;
	}
	.modtager h2 {
		font-size: 1.3em;
	}
}

.morgen_modtager,
.brunch_modtager,
.frokost_modtager,
.aften_modtager,
.drikkevarer_modtager,
.selskabsmenu_modtager {
	border-bottom: solid #eee 1px;
}



@media screen and (min-width: 1025px) {
	.price_menu {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
	}

}

.price_menu {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
}



/****** Galleri *******/

.gallery-modtager {
	display: grid;
	grid-template-columns: repeat(1, 1fr);
	grid-gap: 20px;
	max-width: 1024px;
/*	margin: 6vw;*/

}

.gallery-modtager img {
	max-width: 80vw;
	padding: 1vw;
}



/****** Galleri *******/

.gallery-modtager {
	display: grid;
	grid-template-columns: repeat(1, 1fr);
	grid-gap: 20px;
	max-width: 1024px;
	margin: 0 auto;
	justify-items: center;

}

.gallery-modtager img {
	max-width: 80vw;
	padding: 1vw;
}


/******Om food8*******/


.om_food8{
    margin: 2em;
    max-width: 80vw;
}

/****** Hidden class ****/

.hidden {
	display: none !important;
}
