body{
}

.modtager{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    max-width: 1024px;
/*    background: #FBFAF2;*/
}


@media screen and (min-width: 1025px){
.modtager{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 10px;
    margin: 0 auto;
}
}

.restaurants-splash{
    padding-top: 5vw;
}

.menu_display{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    max-width: 1024px;
}


@media screen and (min-width: 1025px){
.menu_display{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 10px;
    margin: 0 auto;
}
}


img {
width: 100%;
}

.modtager > div, article{
/*    background: lightgrey;*/
}

.modtager > article, div:nth-child(odd){
/*    background: #eee;*/
}


.restaurants-btns{
/*margin: 10vw 10vw 15vw 10vw;*/
    text-align: center;
    padding: 2em 4em;

}

.restaurants-btns >a{
    padding: 6px;
    border: rgba(155, 155, 155, 0.61) solid 1px;
    color: grey;
    padding: 1vw;
    font-size: 1.5em;

}

.restaurants-btns >a:hover{
     background-color: lightgrey;
    color: white;
}



a{
    text-decoration: none;
    font-family: "Handlee", sans-serif;
    font-size: 1.2em;
    color: grey;


}

h1{
    text-align: center;
    font-family: "Playfair", serif;
}

h2{
    text-align: center;
    font-family: "Playfair", serif;

}
p{
       font-family: 'Raleway', sans-serif;
}
.restaurant_description{
    display: grid;
    grid-template-columns: 1fr;
/*    background: #FBFAF2;*/
}
.restaurant_description >p{
        margin: 0 15vw;
}
.restaurant_description >h2{
        margin: 0 15vw;
}

.practical_info{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 4vw;
    justify-items: start;
    margin: 0 15vw;
    font-family: 'Raleway', sans-serif;
    background: rgba(227, 227, 227, 0.78);

}

.practical_info >div{
border: solid 1px grey;
}

.menu_display >div{
    border-bottom: rgba(155, 155, 155, 0.61) solid 1px;
    padding: 2em;
    margin: 0 4em;
}

.gallery-modtager{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 2em;

}
.gallery-modtager img{
    max-width: 10vw;
}

.hidden{
    display: none !important;
}
